USE [SGD_V1]
GO
/****** Object:  Table [Combustibles].[SolicitudesCombustibles]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Combustibles].[SolicitudesCombustibles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[VehiculosId] [bigint] NULL,
	[ManifiestosId] [bigint] NULL,
	[KmRuta] [numeric](18, 2) NULL,
	[Proyeccion] [numeric](18, 2) NULL,
	[EstatusManifiestoId] [bigint] NULL,
	[EstatusSolicitud] [int] NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_SolicitudesCombustibles_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Combustibles].[SolicitudesCombustibles] ON 

INSERT [Combustibles].[SolicitudesCombustibles] ([Id], [VehiculosId], [ManifiestosId], [KmRuta], [Proyeccion], [EstatusManifiestoId], [EstatusSolicitud], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (7, 20021, 10025, CAST(420.00 AS Numeric(18, 2)), CAST(420.00 AS Numeric(18, 2)), 2, 3, N'usrPhoenixAdmin', 1, CAST(N'2023-12-05T13:00:25.960' AS DateTime), N'[{"trail_system_user":"erick","trail_workstation":"NEWLAND-ERICK","trail_notes":"Alta de Registro","trail_timemark":"2023-12-05T13:00:10.9516742-06:00"}]')
SET IDENTITY_INSERT [Combustibles].[SolicitudesCombustibles] OFF
GO
