USE [SGD_V1]
GO
/****** Object:  Table [Checklist].[RespuestasChecklist]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Checklist].[RespuestasChecklist](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CheckListId] [bigint] NOT NULL,
	[PreguntaId] [bigint] NOT NULL,
	[Nombre] [varchar](500) NULL,
	[Ponderacion] [int] NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_RespuestasChecklist] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[CheckListId] ASC,
	[PreguntaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Checklist].[RespuestasChecklist] ON 

GO
SET IDENTITY_INSERT [Checklist].[RespuestasChecklist] OFF
GO
ALTER TABLE [Checklist].[RespuestasChecklist]  WITH CHECK ADD  CONSTRAINT [FK_RespuestasChecklist_PreguntasChecklist] FOREIGN KEY([PreguntaId], [CheckListId])
REFERENCES [Checklist].[PreguntasChecklist] ([Id], [CheckListId])
GO
ALTER TABLE [Checklist].[RespuestasChecklist] CHECK CONSTRAINT [FK_RespuestasChecklist_PreguntasChecklist]
GO
