USE [SGD_V1]
GO
/****** Object:  Table [Checklist].[PreguntasChecklist]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Checklist].[PreguntasChecklist](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CheckListId] [bigint] NOT NULL,
	[Nombre] [varchar](500) NULL,
	[TipoCampo] [int] NULL,
	[Categoria] [varchar](500) NULL,
	[GeneraFalla] [bit] NULL,
	[FotoRequerida] [bit] NULL,
	[Evidencia] [bit] NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_PreguntasChecklist] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[CheckListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Checklist].[PreguntasChecklist] ON 

SET IDENTITY_INSERT [Checklist].[PreguntasChecklist] OFF
GO
ALTER TABLE [Checklist].[PreguntasChecklist]  WITH CHECK ADD  CONSTRAINT [FK_PreguntasChecklist_CheckList] FOREIGN KEY([CheckListId])
REFERENCES [Checklist].[CheckList] ([Id])
GO
ALTER TABLE [Checklist].[PreguntasChecklist] CHECK CONSTRAINT [FK_PreguntasChecklist_CheckList]
GO
