USE [SGD_V1]
GO
/****** Object:  Table [Notificaciones].[Notificaciones]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Notificaciones].[Notificaciones](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CategoriasNotificacionesId] [bigint] NOT NULL,
	[Nombre] [varchar](250) NULL,
	[Activada] [bit] NULL,
	[Condiciones] [varchar](max) NULL,
	[ListaContactos] [varchar](max) NULL,
	[Reglas] [varchar](max) NULL,
	[NotificarPorId] [bigint] NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[Trail] [varchar](max) NOT NULL,
	[CondicionesExtra] [varchar](max) NULL,
 CONSTRAINT [PK_Notificaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[CategoriasNotificacionesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Notificaciones].[Notificaciones] ON 

SET IDENTITY_INSERT [Notificaciones].[Notificaciones] OFF
GO
ALTER TABLE [Notificaciones].[Notificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Notificaciones_CategoriasNotificaciones] FOREIGN KEY([CategoriasNotificacionesId])
REFERENCES [Notificaciones].[CategoriasNotificaciones] ([Id])
GO
ALTER TABLE [Notificaciones].[Notificaciones] CHECK CONSTRAINT [FK_Notificaciones_CategoriasNotificaciones]
GO
