USE [SGD_V1]
GO
/****** Object:  Table [Operadores].[DocumentosColaboradores]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Operadores].[DocumentosColaboradores](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ColaboradoresId] [bigint] NOT NULL,
	[Nombre] [varchar](150) NULL,
	[Emitido] [varchar](300) NULL,
	[FechaVencimiento] [date] NULL,
	[RutaArchivo] [varchar](max) NULL,
	[TipoDocumentoId] [bigint] NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_DocumentosColaboradores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[ColaboradoresId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Operadores].[DocumentosColaboradores] ON 

INSERT [Operadores].[DocumentosColaboradores] ([Id], [ColaboradoresId], [Nombre], [Emitido], [FechaVencimiento], [RutaArchivo], [TipoDocumentoId], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (34, 6, N'Acta', N'SCT', CAST(N'2023-07-30' AS Date), N'10087|pdf|Manual File Manager.pdf', 4, N'usrPhoenixAdmin', 1, CAST(N'2023-07-21T11:31:32.447' AS DateTime), N'[{"trail_system_user":"valentinbaltazar","trail_workstation":null,"trail_notes":"Alta de Registro","trail_timemark":"2023-07-21T11:31:02.030536-06:00"}]')
INSERT [Operadores].[DocumentosColaboradores] ([Id], [ColaboradoresId], [Nombre], [Emitido], [FechaVencimiento], [RutaArchivo], [TipoDocumentoId], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (35, 6, N'Certificado', N'SCT', CAST(N'2023-07-21' AS Date), N'10089|jpg|Perritos.jpg', 5, N'usrPhoenixAdmin', 1, CAST(N'2023-07-21T12:33:29.340' AS DateTime), N'[{"trail_system_user":"valentinbaltazar","trail_workstation":null,"trail_notes":"Alta de Registro","trail_timemark":"2023-07-21T12:24:38.223091-06:00"}]')
SET IDENTITY_INSERT [Operadores].[DocumentosColaboradores] OFF
GO
ALTER TABLE [Operadores].[DocumentosColaboradores]  WITH NOCHECK ADD  CONSTRAINT [FK_DocumentosColaboradores_Colaboradores] FOREIGN KEY([ColaboradoresId])
REFERENCES [Operadores].[Colaboradores] ([Id])
GO
ALTER TABLE [Operadores].[DocumentosColaboradores] NOCHECK CONSTRAINT [FK_DocumentosColaboradores_Colaboradores]
GO
