USE [SGD_V1]
GO
/****** Object:  Table [Operadores].[InfraccionesColaboradores]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Operadores].[InfraccionesColaboradores](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ColaboradoresId] [bigint] NOT NULL,
	[Fecha] [datetime] NULL,
	[Geolocalizacion] [varchar](100) NULL,
	[MonedaMonto] [int] NULL,
	[Monto] [numeric](18, 2) NULL,
	[VehiculosId] [bigint] NULL,
	[CategoriaInfraccionesId] [bigint] NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_InfraccionesColaboradores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[ColaboradoresId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Operadores].[InfraccionesColaboradores] ON 

INSERT [Operadores].[InfraccionesColaboradores] ([Id], [ColaboradoresId], [Fecha], [Geolocalizacion], [MonedaMonto], [Monto], [VehiculosId], [CategoriaInfraccionesId], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (1, 6, CAST(N'2023-09-25T00:00:00.000' AS DateTime), N'12354, -12354', NULL, CAST(700.00 AS Numeric(18, 2)), 20063, 1, N'usrPhoenixAdmin', 1, CAST(N'2023-09-25T17:23:59.660' AS DateTime), N'[{"trail_system_user":"roter","trail_workstation":"PHOENIX-A","trail_notes":"Alta de Registro","trail_timemark":"2023-09-25T17:22:52.9438558-06:00"}]')
INSERT [Operadores].[InfraccionesColaboradores] ([Id], [ColaboradoresId], [Fecha], [Geolocalizacion], [MonedaMonto], [Monto], [VehiculosId], [CategoriaInfraccionesId], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (2, 21, CAST(N'2023-11-22T00:00:00.000' AS DateTime), N'20, -100', NULL, CAST(1.00 AS Numeric(18, 2)), 2, 1, N'usrPhoenixAdmin', 1, CAST(N'2023-11-22T12:03:29.847' AS DateTime), N'[{"trail_system_user":"roter","trail_workstation":"PHOENIX-A","trail_notes":"Alta de Registro","trail_timemark":"2023-11-22T12:02:09.6579793-06:00"}]')
INSERT [Operadores].[InfraccionesColaboradores] ([Id], [ColaboradoresId], [Fecha], [Geolocalizacion], [MonedaMonto], [Monto], [VehiculosId], [CategoriaInfraccionesId], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (10002, 21, CAST(N'2023-11-22T00:00:00.000' AS DateTime), N'25, -119', NULL, CAST(1.00 AS Numeric(18, 2)), 2, 1, N'usrPhoenixAdmin', 1, CAST(N'2024-01-08T14:20:40.297' AS DateTime), N'[{"trail_system_user":"roter","trail_workstation":"PHOENIX-A","trail_notes":"Alta de Registro","trail_timemark":"2023-11-22T12:02:09.6579793-06:00"}]')
SET IDENTITY_INSERT [Operadores].[InfraccionesColaboradores] OFF
GO
ALTER TABLE [Operadores].[InfraccionesColaboradores]  WITH CHECK ADD  CONSTRAINT [FK_InfraccionesColaboradores_CategoriasInfracciones] FOREIGN KEY([CategoriaInfraccionesId])
REFERENCES [Operadores].[CategoriasInfracciones] ([Id])
GO
ALTER TABLE [Operadores].[InfraccionesColaboradores] CHECK CONSTRAINT [FK_InfraccionesColaboradores_CategoriasInfracciones]
GO
ALTER TABLE [Operadores].[InfraccionesColaboradores]  WITH NOCHECK ADD  CONSTRAINT [FK_InfraccionesColaboradores_Colaboradores] FOREIGN KEY([ColaboradoresId])
REFERENCES [Operadores].[Colaboradores] ([Id])
GO
ALTER TABLE [Operadores].[InfraccionesColaboradores] NOCHECK CONSTRAINT [FK_InfraccionesColaboradores_Colaboradores]
GO
