USE [SGD_V1]
GO
/****** Object:  Table [Operadores].[CheckPoint]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Operadores].[CheckPoint](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NULL,
	[Geolocalizacion] [varchar](100) NULL,
	[Radio] [decimal](18, 2) NULL,
	[TiempoMaxEspera] [int] NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_CheckPoint] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Operadores].[CheckPoint] ON 

INSERT [Operadores].[CheckPoint] ([Id], [Nombre], [Geolocalizacion], [Radio], [TiempoMaxEspera], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (2, N'saidjqwid', N'2232', CAST(2232.00 AS Decimal(18, 2)), 2323, NULL, 0, CAST(N'2023-06-16T12:08:37.830' AS DateTime), N'[{"trail_system_user":"omarleyva","trail_workstation":null,"trail_notes":"Alta de Registro","trail_timemark":"2023-06-16T12:07:41.635093-06:00"},{"trail_system_user":null,"trail_workstation":null,"trail_notes":"Registro Eliminado","trail_timemark":"0001-01-01T00:00:00"}]')
INSERT [Operadores].[CheckPoint] ([Id], [Nombre], [Geolocalizacion], [Radio], [TiempoMaxEspera], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (3, N'qwe', N'1223.12213 , -123321.123', CAST(2.00 AS Decimal(18, 2)), 3, NULL, 0, CAST(N'2023-06-21T12:29:30.657' AS DateTime), N'[{"trail_system_user":"omarleyva","trail_workstation":null,"trail_notes":"Alta de Registro","trail_timemark":"2023-06-21T12:28:40.56836-06:00"},{"trail_system_user":null,"trail_workstation":null,"trail_notes":"Registro Eliminado","trail_timemark":"0001-01-01T00:00:00"}]')
SET IDENTITY_INSERT [Operadores].[CheckPoint] OFF
GO
