USE [SGD_V1]
GO
/****** Object:  Table [Productos].[UN]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Productos].[UN](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ClaveUN] [varchar](50) NULL,
	[Nombre] [varchar](200) NULL,
	[ClaveUNSAT] [varchar](50) NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_UN] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Productos].[UN] ON 

INSERT [Productos].[UN] ([Id], [ClaveUN], [Nombre], [ClaveUNSAT], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (3, N'TE571', N'UN prueba1', N'T35T', N'Desarrollo', 1, CAST(N'2023-07-26T18:15:48.657' AS DateTime), N'[{"trail_system_user":"roter","trail_workstation":"PHOENIX-A","trail_notes":"Altade registro","trail_timemark":"2023-07-26T18:11:58.5951386-06:00"}]')
SET IDENTITY_INSERT [Productos].[UN] OFF
GO
