USE [SGD_V1]
GO
/****** Object:  Table [Clientes].[TiposEmpaques]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Clientes].[TiposEmpaques](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](500) NULL,
	[Volumen] [numeric](18, 2) NULL,
	[UnidadMedidaId] [bigint] NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_cTipoEmpaque] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Clientes].[TiposEmpaques] ON 

INSERT [Clientes].[TiposEmpaques] ([Id], [Nombre], [Volumen], [UnidadMedidaId], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (84, N'Caja', CAST(100.00 AS Numeric(18, 2)), 1, N'usrPhoenixAdmin', 0, CAST(N'2023-06-28T15:45:26.147' AS DateTime), N'[{"trail_system_user":"erickdominguez","trail_workstation":null,"trail_notes":"Alta de Registro","trail_timemark":"2023-06-28T15:44:37.22759-06:00"},{"trail_system_user":null,"trail_workstation":null,"trail_notes":"Registro Eliminado","trail_timemark":"0001-01-01T00:00:00"}]')
SET IDENTITY_INSERT [Clientes].[TiposEmpaques] OFF
GO
ALTER TABLE [Clientes].[TiposEmpaques]  WITH NOCHECK ADD  CONSTRAINT [FK__TiposEmpa__Unida__56B3DD81] FOREIGN KEY([UnidadMedidaId])
REFERENCES [Productos].[UnidadesMedidas] ([Id])
GO
ALTER TABLE [Clientes].[TiposEmpaques] NOCHECK CONSTRAINT [FK__TiposEmpa__Unida__56B3DD81]
GO
