USE [SGD_V1]
GO
/****** Object:  Table [Vehiculos].[Checkslist]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Vehiculos].[Checkslist](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[VehiculoId] [bigint] NOT NULL,
	[CheckListId] [bigint] NOT NULL,
	[Periodicidad] [varchar](500) NULL,
	[FechaInicio] [datetime] NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_CheckslistVehiculos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[VehiculoId] ASC,
	[CheckListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Vehiculos].[Checkslist] ON 

SET IDENTITY_INSERT [Vehiculos].[Checkslist] OFF
GO
ALTER TABLE [Vehiculos].[Checkslist]  WITH CHECK ADD  CONSTRAINT [FK_Checkslist_Vehiculos] FOREIGN KEY([VehiculoId])
REFERENCES [Vehiculos].[Vehiculos] ([Id])
GO
ALTER TABLE [Vehiculos].[Checkslist] CHECK CONSTRAINT [FK_Checkslist_Vehiculos]
GO
