USE [SGD_V1]
GO
/****** Object:  Table [Vehiculos].[Modelos]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Vehiculos].[Modelos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NULL,
	[MarcaId] [bigint] NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_Modelos_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Vehiculos].[Modelos] ON 

INSERT [Vehiculos].[Modelos] ([Id], [Nombre], [MarcaId], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (2, N'Lobo', 4, N'usrPhoenixAdmin', 1, CAST(N'2023-06-01T00:00:00.000' AS DateTime), N'[{"trail_system_user":"roter","trail_workstation":"PHOENIX-A","trail_notes":"Alta de Registro","trail_timemark":"2024-02-09T17:26:04.0696127-06:00"}]')
INSERT [Vehiculos].[Modelos] ([Id], [Nombre], [MarcaId], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (3, N'Ranger', 4, N'Desarrollo', 0, CAST(N'2023-06-01T00:00:00.000' AS DateTime), N'[{"trail_system_user":"valentinbaltazar","trail_workstation":null,"trail_notes":"Altade registro","trail_timemark":"2023-06-08T14:19:20.23219-06:00"},{"trail_system_user":null,"trail_workstation":null,"trail_notes":"Registro Eliminado","trail_timemark":"0001-01-01T00:00:00"}]')
SET IDENTITY_INSERT [Vehiculos].[Modelos] OFF
GO
ALTER TABLE [Vehiculos].[Modelos]  WITH CHECK ADD  CONSTRAINT [FK_Modelos_Marcas] FOREIGN KEY([MarcaId])
REFERENCES [Vehiculos].[Marcas] ([Id])
GO
ALTER TABLE [Vehiculos].[Modelos] CHECK CONSTRAINT [FK_Modelos_Marcas]
GO
