USE [SGD_V1]
GO
/****** Object:  Table [Combustibles].[BitacorasCombustibles]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Combustibles].[BitacorasCombustibles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FechaRegistro] [datetime] NULL,
	[FechaCarga] [datetime] NULL,
	[Combustible] [varchar](50) NULL,
	[Factura] [varchar](50) NULL,
	[OdometroActual] [numeric](18, 2) NULL,
	[OdometroAnterior] [numeric](18, 2) NULL,
	[Litros] [numeric](18, 2) NULL,
	[MonedaIdCosto] [int] NULL,
	[Costo] [numeric](18, 2) NULL,
	[RendimientoCalculado] [numeric](18, 2) NULL,
	[MonedaIdCostoTotal] [int] NULL,
	[CostoTotal] [numeric](18, 2) NULL,
	[MonedaIdIVA] [int] NULL,
	[IVA] [numeric](18, 2) NULL,
	[MonedaIdIEPS] [int] NULL,
	[IEPS] [numeric](18, 2) NULL,
	[Comentario] [varchar](250) NULL,
	[Duracion] [time](7) NULL,
	[Referencia] [varchar](250) NULL,
	[VehiculosId] [bigint] NULL,
	[TiposCombustiblesId] [bigint] NULL,
	[EstacionesId] [bigint] NULL,
	[ColaboradoresId] [bigint] NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_BitacorasCombustibles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Combustibles].[BitacorasCombustibles] ON 

GO
SET IDENTITY_INSERT [Combustibles].[BitacorasCombustibles] OFF
GO
ALTER TABLE [Combustibles].[BitacorasCombustibles]  WITH CHECK ADD  CONSTRAINT [FK_BitacorasCombustibles_Estaciones] FOREIGN KEY([EstacionesId])
REFERENCES [Combustibles].[Estaciones] ([Id])
GO
ALTER TABLE [Combustibles].[BitacorasCombustibles] CHECK CONSTRAINT [FK_BitacorasCombustibles_Estaciones]
GO
ALTER TABLE [Combustibles].[BitacorasCombustibles]  WITH CHECK ADD  CONSTRAINT [FK_BitacorasCombustibles_TiposCombustibles] FOREIGN KEY([TiposCombustiblesId])
REFERENCES [Combustibles].[TiposCombustibles] ([Id])
GO
ALTER TABLE [Combustibles].[BitacorasCombustibles] CHECK CONSTRAINT [FK_BitacorasCombustibles_TiposCombustibles]
GO
ALTER TABLE [Combustibles].[BitacorasCombustibles]  WITH CHECK ADD  CONSTRAINT [FK_BitacorasCombustibles_Vehiculos] FOREIGN KEY([VehiculosId])
REFERENCES [Vehiculos].[Vehiculos] ([Id])
GO
ALTER TABLE [Combustibles].[BitacorasCombustibles] CHECK CONSTRAINT [FK_BitacorasCombustibles_Vehiculos]
GO
