USE [SGD_V1]
GO
/****** Object:  Table [Combustibles].[Estaciones]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Combustibles].[Estaciones](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NULL,
	[Coordenadas] [varchar](250) NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_Estaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Combustibles].[Estaciones] ON 

INSERT [Combustibles].[Estaciones] ([Id], [Nombre], [Coordenadas], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (3, N'Gasolinera C', N'100, 100', N'usrPhoenixAdmin', 1, CAST(N'2023-07-18T12:43:50.193' AS DateTime), N'[{"trail_system_user":"angel","trail_workstation":"PHOENIX","trail_notes":"Alta de Registro","trail_timemark":"2023-07-18T12:43:29.9053278-06:00"},{"trail_system_user":"angel","trail_workstation":"PHOENIX","trail_notes":"Actualización de Registro","trail_timemark":"2023-07-18T12:43:29.9053278-06:00"}]')
SET IDENTITY_INSERT [Combustibles].[Estaciones] OFF
GO
