USE [SGD_V1]
GO
/****** Object:  Table [Despachos].[Despachos]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Despachos].[Despachos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FolioDespacho] [varchar](20) NOT NULL,
	[Borrador] [bit] NULL,
	[Origen] [varchar](500) NULL,
	[Destino] [varchar](500) NULL,
	[VehiculoId] [bigint] NULL,
	[VehiculoTercero] [varchar](3000) NULL,
	[RemolqueId] [bigint] NULL,
	[OperadorId] [bigint] NULL,
	[Custodia] [bit] NULL,
	[Auxiliares] [varchar](max) NULL,
	[Peligroso] [bit] NULL,
	[RutaId] [bigint] NULL,
	[ServiciosAdicionales] [varchar](max) NULL,
	[AndenId] [bigint] NULL,
	[EstatusId] [bigint] NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
	[OcupacionEfectiva] [varchar](20) NULL,
	[TiempoEntrega] [varchar](30) NULL,
	[Validador] [varchar](500) NULL,
	[EncuestaOperadorPickup] [int] NULL,
	[OperadorPickupId] [bigint] NULL,
 CONSTRAINT [PK_Despachos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Despachos].[Despachos] ON 

GO
SET IDENTITY_INSERT [Despachos].[Despachos] OFF
GO
ALTER TABLE [Despachos].[Despachos]  WITH CHECK ADD  CONSTRAINT [FK_Despachos_Andenes] FOREIGN KEY([AndenId])
REFERENCES [Despachos].[Andenes] ([Id])
GO
ALTER TABLE [Despachos].[Despachos] CHECK CONSTRAINT [FK_Despachos_Andenes]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 Borrador 
2 Confirmado
3 En proceso
4 Cerrado
5 Cancelado
6 Cancelado-En proceso
7 En riesgo
8 Error' , @level0type=N'SCHEMA',@level0name=N'Despachos', @level1type=N'TABLE',@level1name=N'Despachos', @level2type=N'COLUMN',@level2name=N'EstatusId'
GO
