USE [SGD_V1]
GO
/****** Object:  Table [Despachos].[EvidenciasTickets]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Despachos].[EvidenciasTickets](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TicketId] [bigint] NULL,
	[Nombre] [varchar](50) NULL,
	[Extension] [varchar](10) NULL,
	[DocumentoId] [bigint] NULL,
	[TipoEvidencia] [int] NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
	[FlujoId] [int] NULL,
 CONSTRAINT [PK_EvidenciasTickets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Despachos].[EvidenciasTickets] ON 

INSERT [Despachos].[EvidenciasTickets] ([Id], [TicketId], [Nombre], [Extension], [DocumentoId], [TipoEvidencia], [Usuario], [Eliminado], [FechaCreacion], [Trail], [FlujoId]) VALUES (1, 32, N'Primera evidencia balin', N'pdf', 6, 3, N'Balin', 1, CAST(N'2024-01-08T18:19:50.070' AS DateTime), N'{"usuario":"ok"}', NULL)
INSERT [Despachos].[EvidenciasTickets] ([Id], [TicketId], [Nombre], [Extension], [DocumentoId], [TipoEvidencia], [Usuario], [Eliminado], [FechaCreacion], [Trail], [FlujoId]) VALUES (2, 32, N'Segunda evidencia balin', N'pdf', 6, 1, N'Balin', 1, CAST(N'2024-01-08T18:22:02.150' AS DateTime), N'{"usuario":"ok"}', NULL)
INSERT [Despachos].[EvidenciasTickets] ([Id], [TicketId], [Nombre], [Extension], [DocumentoId], [TipoEvidencia], [Usuario], [Eliminado], [FechaCreacion], [Trail], [FlujoId]) VALUES (3, 34, N'image', N'png', 10285, 2, N'4', 1, CAST(N'2024-01-15T12:10:56.363' AS DateTime), N'[{"trail_system_user":null,"trail_workstation":null,"trail_notes":"Alta de Registro","trail_timemark":"0001-01-01T00:00:00"}]', NULL)
GO
SET IDENTITY_INSERT [Despachos].[EvidenciasTickets] OFF
GO
ALTER TABLE [Despachos].[EvidenciasTickets]  WITH CHECK ADD  CONSTRAINT [FK_EvidenciasTickets_Tickets] FOREIGN KEY([TicketId])
REFERENCES [Despachos].[Tickets] ([Id])
GO
ALTER TABLE [Despachos].[EvidenciasTickets] CHECK CONSTRAINT [FK_EvidenciasTickets_Tickets]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 Recolección
2 Entregado
3 No entregado' , @level0type=N'SCHEMA',@level0name=N'Despachos', @level1type=N'TABLE',@level1name=N'EvidenciasTickets', @level2type=N'COLUMN',@level2name=N'FlujoId'
GO
