USE [SGD_V1]
GO
/****** Object:  Table [Despachos].[DocumentosTickets]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Despachos].[DocumentosTickets](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TicketId] [bigint] NULL,
	[Nombre] [varchar](50) NULL,
	[Extension] [varchar](10) NULL,
	[DocumentoId] [bigint] NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_DocumentosDespachos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Despachos].[DocumentosTickets] ON 

INSERT [Despachos].[DocumentosTickets] ([Id], [TicketId], [Nombre], [Extension], [DocumentoId], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (1, 1, N'ba1a03b7-6690-415b-a0ce-ea8da55a6772.pdf', NULL, 10230, N'usrPhoenixAdmin', 1, CAST(N'2023-09-21T10:53:44.583' AS DateTime), N'[{"trail_system_user":"angel","trail_workstation":"PHOENIX","trail_notes":"Alta de Registro","trail_timemark":"2023-09-21T10:53:33.7985317-06:00"}]')
INSERT [Despachos].[DocumentosTickets] ([Id], [TicketId], [Nombre], [Extension], [DocumentoId], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (2, 1, N'formato-solicitud-constancia-digital.pdf', N'pdf', 10231, N'usrPhoenixAdmin', 1, CAST(N'2023-09-21T10:59:44.087' AS DateTime), N'[{"trail_system_user":"angel","trail_workstation":"PHOENIX","trail_notes":"Alta de Registro","trail_timemark":"2023-09-21T10:59:14.1263075-06:00"}]')
INSERT [Despachos].[DocumentosTickets] ([Id], [TicketId], [Nombre], [Extension], [DocumentoId], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (3, 2, N'ilovepdf_merged.pdf', N'pdf', 10232, N'usrPhoenixAdmin', 1, CAST(N'2023-09-21T11:09:46.727' AS DateTime), N'[{"trail_system_user":"angel","trail_workstation":"PHOENIX","trail_notes":"Alta de Registro","trail_timemark":"2023-09-21T11:09:29.9612105-06:00"}]')
SET IDENTITY_INSERT [Despachos].[DocumentosTickets] OFF
GO
ALTER TABLE [Despachos].[DocumentosTickets]  WITH CHECK ADD  CONSTRAINT [FK_DocumentosTickets_Tickets] FOREIGN KEY([TicketId])
REFERENCES [Despachos].[Tickets] ([Id])
GO
ALTER TABLE [Despachos].[DocumentosTickets] CHECK CONSTRAINT [FK_DocumentosTickets_Tickets]
GO
