USE [SGD_V1]
GO
/****** Object:  Table [Despachos].[RegistroProveedores]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Despachos].[RegistroProveedores](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DespachoId] [bigint] NOT NULL,
	[Nombre] [varchar](500) NULL,
	[RFC] [varchar](15) NULL,
	[CorreoElectronico] [varchar](500) NULL,
	[NumeroCelular] [varchar](20) NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_RegistroProveedores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[DespachoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Despachos].[RegistroProveedores] ON 

INSERT [Despachos].[RegistroProveedores] ([Id], [DespachoId], [Nombre], [RFC], [CorreoElectronico], [NumeroCelular], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (1, 30077, N'Prueba', N'AAAB444444', N'Test@test.com', N'55-55-55-55-55', N'usrPhoenixAdmin', 0, CAST(N'2024-02-07T16:45:49.970' AS DateTime), N'[{"trail_system_user":"roter","trail_workstation":"PHOENIX-A","trail_notes":"Alta de registro","trail_timemark":"2024-02-07T16:44:45.3310954-06:00"}]')
SET IDENTITY_INSERT [Despachos].[RegistroProveedores] OFF
GO
ALTER TABLE [Despachos].[RegistroProveedores]  WITH CHECK ADD  CONSTRAINT [FK_RegistroProveedores_Despachos] FOREIGN KEY([DespachoId])
REFERENCES [Despachos].[Despachos] ([Id])
GO
ALTER TABLE [Despachos].[RegistroProveedores] CHECK CONSTRAINT [FK_RegistroProveedores_Despachos]
GO
