USE [SGD_V1]
GO
/****** Object:  Table [Despachos].[Andenes]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Despachos].[Andenes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CedisID] [bigint] NULL,
	[Nombre] [varchar](100) NULL,
	[AndenCortina] [bit] NULL,
	[CodigoAnden] [varchar](50) NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_Andenes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Despachos].[Andenes] ON 

INSERT [Despachos].[Andenes] ([Id], [CedisID], [Nombre], [AndenCortina], [CodigoAnden], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (10, 2, N'Anden 1asd', 1, N'c33s', N'usrphoenixadmin', 0, CAST(N'2023-10-25T16:59:23.120' AS DateTime), N'[{"trail_system_user":"NewLa","trail_workstation":"OMAR_PHOENIX","trail_notes":"Alta de Registro","trail_timemark":"2023-10-25T16:58:50.5451875-06:00"}]')
SET IDENTITY_INSERT [Despachos].[Andenes] OFF
GO
