USE [SGD_V1]
GO
/****** Object:  Table [Despachos].[Visores]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Despachos].[Visores](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Manifiesto] [varchar](20) NOT NULL,
	[ClienteId] [bigint] NULL,
	[Cliente] [varchar](300) NULL,
	[Custodia] [bit] NULL,
	[Operador] [varchar](350) NULL,
	[Vehiculo] [varchar](150) NOT NULL,
	[Placa] [varchar](50) NOT NULL,
	[Economico] [varchar](150) NOT NULL,
	[Origen] [varchar](350) NOT NULL,
	[Destino] [varchar](350) NOT NULL,
	[VentanaAtencionInicio] [varchar](100) NOT NULL,
	[VentanaAtencionFin] [varchar](100) NOT NULL,
	[Estatus] [int] NULL,
	[ManifiestoId] [bigint] NULL,
	[Ticket] [varchar](20) NULL,
	[TiempoRestante] [int] NULL,
	[UbicacionActual] [varchar](1500) NULL,
	[TipoEntregaId] [bigint] NULL,
	[PrioridadId] [bigint] NULL,
	[Reintentos] [int] NULL,
	[Restantes] [int] NULL,
	[Ubicacion] [varchar](500) NULL,
	[DiasLaborados] [int] NULL,
	[UltimoServicio] [datetime] NULL,
	[DiasTranscurridos] [int] NULL,
	[HorasDetenido] [varchar](20) NULL,
	[CostoFlete] [numeric](18, 2) NULL,
	[GastosOperativos] [numeric](18, 2) NULL,
	[GastosIndirectos] [numeric](18, 2) NULL,
	[GastosNoJustificados] [numeric](18, 2) NULL,
	[UltimoMovimientoGPS] [datetime] NULL,
	[DistanciaRuta] [numeric](18, 2) NULL,
	[DistanciaRealizada] [numeric](18, 2) NULL,
	[FechaCargaEstimada] [datetime] NULL,
	[FechaCarga] [datetime] NULL,
	[FechaSalidaEstimada] [datetime] NULL,
	[FechaSalida] [datetime] NULL,
	[FechaPromesaLlegada] [datetime] NULL,
	[FechaLlegada] [datetime] NULL,
	[FechaPromesaRetorno] [datetime] NULL,
	[FechaRetorno] [datetime] NULL,
	[FechaCreacionViaje] [datetime] NULL,
	[EtaDestino] [datetime] NULL,
	[EtaRetorno] [datetime] NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
	[OperadorId] [bigint] NULL,
	[VehiculoId] [bigint] NULL,
 CONSTRAINT [PK_Visores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Despachos].[Visores] ON 

GO
SET IDENTITY_INSERT [Despachos].[Visores] OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Se guarda el estatus del despacho' , @level0type=N'SCHEMA',@level0name=N'Despachos', @level1type=N'TABLE',@level1name=N'Visores', @level2type=N'COLUMN',@level2name=N'Estatus'
GO
