USE [SGD_V1]
GO
/****** Object:  Table [Clientes].[ConsideracionesViajes]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Clientes].[ConsideracionesViajes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ClienteId] [bigint] NOT NULL,
	[HabilidadVehiculo] [varchar](2000) NULL,
	[DocumentoVehiculo] [varchar](2000) NULL,
	[HabilidadDeColaborador] [varchar](2000) NULL,
	[DocumentoOperador] [varchar](2000) NULL,
	[HabilidadAuxiliar] [varchar](2000) NULL,
	[DocumentoAuxiliar] [varchar](2000) NULL,
	[EvidenciaCarga] [varchar](2000) NULL,
	[EvidenciaDescarga] [varchar](2000) NULL,
	[Checklist] [varchar](2000) NULL,
	[Contacto] [varchar](2000) NULL,
	[Geolocalizacion] [varchar](2000) NULL,
	[TiempoSalidaPrevio] [int] NULL,
	[PresenciaOperador] [int] NULL,
	[HorasEmbarque] [int] NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_ConsideracionesViajes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Clientes].[ConsideracionesViajes] ON 

SET IDENTITY_INSERT [Clientes].[ConsideracionesViajes] OFF
GO
ALTER TABLE [Clientes].[ConsideracionesViajes]  WITH CHECK ADD  CONSTRAINT [FK_ConsideracionesViajes_Clientes] FOREIGN KEY([ClienteId])
REFERENCES [Clientes].[Clientes] ([Id])
GO
ALTER TABLE [Clientes].[ConsideracionesViajes] CHECK CONSTRAINT [FK_ConsideracionesViajes_Clientes]
GO
