USE [SGD_V1]
GO
/****** Object:  Table [Clientes].[Tarifas]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Clientes].[Tarifas](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TipoTarifaClienteId] [bigint] NOT NULL,
	[ClienteId] [bigint] NOT NULL,
	[GrupoUnidad] [varchar](5000) NULL,
	[TipoServicioId] [int] NULL,
	[ServicioAdicional] [varchar](max) NULL,
	[ParametroId] [int] NULL,
	[Dedicado] [bit] NULL,
	[IVA] [int] NULL,
	[Colaborador] [varchar](5000) NULL,
	[FechaVigenciaInicial] [datetime] NULL,
	[FechaVigenciaFinal] [datetime] NULL,
	[Usuario] [varchar](150) NULL,
	[FechaCreacion] [datetime] NULL,
	[Eliminado] [bit] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_Tarifas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[TipoTarifaClienteId] ASC,
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Clientes].[Tarifas] ON 

SET IDENTITY_INSERT [Clientes].[Tarifas] OFF
GO
ALTER TABLE [Clientes].[Tarifas]  WITH CHECK ADD  CONSTRAINT [FK_Tarifas_Clientes] FOREIGN KEY([ClienteId])
REFERENCES [Clientes].[Clientes] ([Id])
GO
ALTER TABLE [Clientes].[Tarifas] CHECK CONSTRAINT [FK_Tarifas_Clientes]
GO
