USE [SGD_V1]
GO
/****** Object:  Table [Clientes].[TiposTarifasClientes]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Clientes].[TiposTarifasClientes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](500) NULL,
	[IdInterno] [varchar](20) NULL,
	[TipoTarifaId] [bigint] NOT NULL,
	[MonedaIdCosto] [int] NULL,
	[Costo] [decimal](18, 2) NULL,
	[CostoNoArmada] [numeric](18, 0) NULL,
	[CostoArmada] [numeric](18, 0) NULL,
	[ValorMinimoArmada] [numeric](18, 0) NULL,
	[TipoPesoId] [bigint] NULL,
	[TipoEmpaqueId] [bigint] NULL,
	[TipoVehiculoId] [bigint] NULL,
	[PrioridadId] [bigint] NULL,
	[ParadaIntermedia] [varchar](5000) NULL,
	[Origen] [varchar](5000) NULL,
	[Destino] [varchar](5000) NULL,
	[PromesaEntrega] [int] NULL,
	[DiasEntregaId] [varchar](5000) NULL,
	[MonedaIdGastoOperativoPermitido] [int] NULL,
	[GastoOperativoPermitido] [decimal](18, 2) NULL,
	[MonedaIdCancelacionConManifiesto] [int] NULL,
	[CancelacionConManifiesto] [decimal](18, 2) NULL,
	[MonedaIdCancelacionConBorrador] [int] NULL,
	[CancelacionConBorrador] [decimal](18, 2) NULL,
	[MonedaIdCostoParadaIntermedia] [int] NULL,
	[CostoParadaIntermedia] [decimal](18, 2) NULL,
	[MonedaIdCostoRetorno] [int] NULL,
	[CostoRetorno] [decimal](18, 2) NULL,
	[TipoCustodia] [varchar](500) NULL,
	[Utilidad] [numeric](18, 0) NULL,
	[ProveedorId] [bigint] NULL,
	[FechaVigenciaInicial] [datetime] NULL,
	[FechaVigenciaFinal] [datetime] NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_TiposTarifasClientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Clientes].[TiposTarifasClientes] ON 

SET IDENTITY_INSERT [Clientes].[TiposTarifasClientes] OFF
GO
ALTER TABLE [Clientes].[TiposTarifasClientes]  WITH NOCHECK ADD  CONSTRAINT [FK_TiposTarifasClientes_Prioridades] FOREIGN KEY([PrioridadId])
REFERENCES [Clientes].[Prioridades] ([Id])
GO
ALTER TABLE [Clientes].[TiposTarifasClientes] CHECK CONSTRAINT [FK_TiposTarifasClientes_Prioridades]
GO
ALTER TABLE [Clientes].[TiposTarifasClientes]  WITH NOCHECK ADD  CONSTRAINT [FK_TiposTarifasClientes_Proveedores] FOREIGN KEY([ProveedorId])
REFERENCES [Clientes].[Proveedores] ([Id])
GO
ALTER TABLE [Clientes].[TiposTarifasClientes] CHECK CONSTRAINT [FK_TiposTarifasClientes_Proveedores]
GO
ALTER TABLE [Clientes].[TiposTarifasClientes]  WITH NOCHECK ADD  CONSTRAINT [FK_TiposTarifasClientes_TiposEmpaques] FOREIGN KEY([TipoEmpaqueId])
REFERENCES [Clientes].[TiposEmpaques] ([Id])
GO
ALTER TABLE [Clientes].[TiposTarifasClientes] CHECK CONSTRAINT [FK_TiposTarifasClientes_TiposEmpaques]
GO
ALTER TABLE [Clientes].[TiposTarifasClientes]  WITH NOCHECK ADD  CONSTRAINT [FK_TiposTarifasClientes_TiposPesos] FOREIGN KEY([TipoPesoId])
REFERENCES [Clientes].[TiposPesos] ([Id])
GO
ALTER TABLE [Clientes].[TiposTarifasClientes] CHECK CONSTRAINT [FK_TiposTarifasClientes_TiposPesos]
GO
ALTER TABLE [Clientes].[TiposTarifasClientes]  WITH NOCHECK ADD  CONSTRAINT [FK_TiposTarifasClientes_TiposTarifas] FOREIGN KEY([TipoTarifaId])
REFERENCES [Clientes].[TiposTarifas] ([Id])
GO
ALTER TABLE [Clientes].[TiposTarifasClientes] CHECK CONSTRAINT [FK_TiposTarifasClientes_TiposTarifas]
GO
