USE [SGD_V1]
GO
/****** Object:  Table [GestorDocumentos].[Expedientes]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [GestorDocumentos].[Expedientes](
	[Id] [bigint] NOT NULL,
	[Nombre] [varchar](150) NULL,
	[ReferenciaId] [bigint] NULL,
	[ConfiguracionId] [bigint] NULL,
	[ExpedienteDocumentos] [varchar](max) NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [GestorDocumentos].[Expedientes] ([Id], [Nombre], [ReferenciaId], [ConfiguracionId], [ExpedienteDocumentos], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (10, N'Almacenaje', 123456, 11, NULL, N'usrPhoenixAdmin', 1, CAST(N'2023-07-27T17:15:36.853' AS DateTime), N'[{"trail_system_user":"Lguzman","trail_workstation":"DESKTOP-G18S1J2","trail_notes":"Alta de Registro","trail_timemark":"2023-03-06T17:00:13.1750188-06:00"}]')
INSERT [GestorDocumentos].[Expedientes] ([Id], [Nombre], [ReferenciaId], [ConfiguracionId], [ExpedienteDocumentos], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (11, N'Almacenaje', 11111, 11, NULL, N'usrPhoenixAdmin', 1, CAST(N'2023-07-27T17:15:37.117' AS DateTime), N'[{"trail_system_user":"Lguzman","trail_workstation":"DESKTOP-G18S1J2","trail_notes":"Alta de Registro","trail_timemark":"2023-03-06T17:02:24.5604768-06:00"}]')
INSERT [GestorDocumentos].[Expedientes] ([Id], [Nombre], [ReferenciaId], [ConfiguracionId], [ExpedienteDocumentos], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (12, N'Almacenaje', 1111, 11, NULL, N'usrPhoenixAdmin', 1, CAST(N'2023-07-27T17:15:37.423' AS DateTime), N'[{"trail_system_user":"Lguzman","trail_workstation":"DESKTOP-G18S1J2","trail_notes":"Alta de Registro","trail_timemark":"2023-03-06T17:04:17.289734-06:00"}]')
GO
