USE [SGD_V1]
GO
/****** Object:  Table [Vehiculos].[Vehiculos]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Vehiculos].[Vehiculos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Placa] [varchar](50) NULL,
	[Economico] [varchar](150) NULL,
	[VIN] [varchar](50) NULL,
	[MarcaId] [bigint] NULL,
	[ModeloId] [bigint] NULL,
	[Anio] [int] NULL,
	[ColorId] [bigint] NULL,
	[TipoCombustibleId] [bigint] NULL,
	[TanqueCombustible] [int] NULL,
	[RendimientoMixto] [numeric](18, 2) NULL,
	[RendimientoUrbano] [numeric](18, 2) NULL,
	[RendimientoSuburbano] [numeric](18, 2) NULL,
	[CapacidadVolumen] [int] NULL,
	[CapacidadVolumenEfectivo] [int] NULL,
	[ProveedorId] [bigint] NULL,
	[EsquemaId] [bigint] NULL,
	[Factura] [varchar](150) NULL,
	[FacturaCarrocero] [varchar](150) NULL,
	[GrupoVehiculo] [varchar](3000) NULL,
	[ProveedorSeguroId] [bigint] NULL,
	[PolizaSeguro] [varchar](50) NULL,
	[Inciso] [int] NULL,
	[Prima] [numeric](18, 2) NULL,
	[NumPermiso] [varchar](150) NULL,
	[TipoPermiso] [varchar](50) NULL,
	[ConfiguracionId] [bigint] NULL,
	[HabilidadVehiculos] [varchar](5000) NULL,
	[TipoId] [bigint] NULL,
	[ColaboradorId] [bigint] NULL,
	[RangoOperacion] [varchar](3000) NULL,
	[Maniobras] [int] NULL,
	[UN] [varchar](5000) NULL,
	[Motor] [varchar](50) NULL,
	[FactorCO2] [numeric](18, 2) NULL,
	[TagCaseta] [varchar](50) NULL,
	[UltimoOdometro] [numeric](18, 2) NULL,
	[Estado] [bit] NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_Vehiculos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Vehiculos].[Vehiculos] ON 

GO
SET IDENTITY_INSERT [Vehiculos].[Vehiculos] OFF
GO
/****** Object:  Index [IX_Vehiculos_ColorId]    Script Date: 11/03/2024 02:11:11 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Vehiculos_ColorId] ON [Vehiculos].[Vehiculos]
(
	[ColorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vehiculos_ConfiguracionId]    Script Date: 11/03/2024 02:11:11 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Vehiculos_ConfiguracionId] ON [Vehiculos].[Vehiculos]
(
	[ConfiguracionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vehiculos_EsquemaId]    Script Date: 11/03/2024 02:11:11 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Vehiculos_EsquemaId] ON [Vehiculos].[Vehiculos]
(
	[EsquemaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vehiculos_MarcaId]    Script Date: 11/03/2024 02:11:11 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Vehiculos_MarcaId] ON [Vehiculos].[Vehiculos]
(
	[MarcaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vehiculos_ModeloId]    Script Date: 11/03/2024 02:11:11 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Vehiculos_ModeloId] ON [Vehiculos].[Vehiculos]
(
	[ModeloId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vehiculos_ProveedorId]    Script Date: 11/03/2024 02:11:11 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Vehiculos_ProveedorId] ON [Vehiculos].[Vehiculos]
(
	[ProveedorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vehiculos_TipoCombustibleId]    Script Date: 11/03/2024 02:11:11 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Vehiculos_TipoCombustibleId] ON [Vehiculos].[Vehiculos]
(
	[TipoCombustibleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vehiculos_TipoId]    Script Date: 11/03/2024 02:11:11 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Vehiculos_TipoId] ON [Vehiculos].[Vehiculos]
(
	[TipoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Vehiculos].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_Colores] FOREIGN KEY([ColorId])
REFERENCES [Vehiculos].[Colores] ([Id])
GO
ALTER TABLE [Vehiculos].[Vehiculos] CHECK CONSTRAINT [FK_Vehiculos_Colores]
GO
ALTER TABLE [Vehiculos].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_Colores_ColorId] FOREIGN KEY([ColorId])
REFERENCES [Vehiculos].[Colores] ([Id])
GO
ALTER TABLE [Vehiculos].[Vehiculos] CHECK CONSTRAINT [FK_Vehiculos_Colores_ColorId]
GO
ALTER TABLE [Vehiculos].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_Configuraciones] FOREIGN KEY([ConfiguracionId])
REFERENCES [Vehiculos].[Configuraciones] ([Id])
GO
ALTER TABLE [Vehiculos].[Vehiculos] CHECK CONSTRAINT [FK_Vehiculos_Configuraciones]
GO
ALTER TABLE [Vehiculos].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_Configuraciones_ConfiguracionId] FOREIGN KEY([ConfiguracionId])
REFERENCES [Vehiculos].[Configuraciones] ([Id])
GO
ALTER TABLE [Vehiculos].[Vehiculos] CHECK CONSTRAINT [FK_Vehiculos_Configuraciones_ConfiguracionId]
GO
ALTER TABLE [Vehiculos].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_Esquemas] FOREIGN KEY([EsquemaId])
REFERENCES [Vehiculos].[Esquemas] ([Id])
GO
ALTER TABLE [Vehiculos].[Vehiculos] CHECK CONSTRAINT [FK_Vehiculos_Esquemas]
GO
ALTER TABLE [Vehiculos].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_Esquemas_EsquemaId] FOREIGN KEY([EsquemaId])
REFERENCES [Vehiculos].[Esquemas] ([Id])
GO
ALTER TABLE [Vehiculos].[Vehiculos] CHECK CONSTRAINT [FK_Vehiculos_Esquemas_EsquemaId]
GO
ALTER TABLE [Vehiculos].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_Marcas_MarcaId] FOREIGN KEY([MarcaId])
REFERENCES [Vehiculos].[Marcas] ([Id])
GO
ALTER TABLE [Vehiculos].[Vehiculos] CHECK CONSTRAINT [FK_Vehiculos_Marcas_MarcaId]
GO
ALTER TABLE [Vehiculos].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_Modelos_ModeloId] FOREIGN KEY([ModeloId])
REFERENCES [Vehiculos].[Modelos] ([Id])
GO
ALTER TABLE [Vehiculos].[Vehiculos] CHECK CONSTRAINT [FK_Vehiculos_Modelos_ModeloId]
GO
ALTER TABLE [Vehiculos].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_Proveedores_ProveedorId] FOREIGN KEY([ProveedorId])
REFERENCES [Clientes].[Proveedores] ([Id])
GO
ALTER TABLE [Vehiculos].[Vehiculos] CHECK CONSTRAINT [FK_Vehiculos_Proveedores_ProveedorId]
GO
ALTER TABLE [Vehiculos].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_Tipos_TipoId] FOREIGN KEY([TipoId])
REFERENCES [Vehiculos].[Tipos] ([Id])
GO
ALTER TABLE [Vehiculos].[Vehiculos] CHECK CONSTRAINT [FK_Vehiculos_Tipos_TipoId]
GO
ALTER TABLE [Vehiculos].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_TiposCombustibles_TipoCombustibleId] FOREIGN KEY([TipoCombustibleId])
REFERENCES [Combustibles].[TiposCombustibles] ([Id])
GO
ALTER TABLE [Vehiculos].[Vehiculos] CHECK CONSTRAINT [FK_Vehiculos_TiposCombustibles_TipoCombustibleId]
GO
