USE [SGD_V1]
GO
/****** Object:  Table [Vehiculos].[Documentos]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Vehiculos].[Documentos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TiposDocumentosId] [bigint] NULL,
	[VehiculoId] [bigint] NOT NULL,
	[Nombre] [varchar](150) NULL,
	[Emitido] [varchar](300) NULL,
	[FechaVencimiento] [datetime] NULL,
	[RutaArchivo] [varchar](500) NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_Documentos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Vehiculos].[Documentos] ON 

INSERT [Vehiculos].[Documentos] ([Id], [TiposDocumentosId], [VehiculoId], [Nombre], [Emitido], [FechaVencimiento], [RutaArchivo], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (3, 2, 3, N'Doc', N'develop', CAST(N'2023-08-10T00:00:00.000' AS DateTime), N'10148|pdf|Convenciones y Esta´ndares de Nombres[566].pdf', N'usrPhoenixAdmin', 1, CAST(N'2023-08-03T10:50:36.387' AS DateTime), N'[{"trail_system_user":"omarleyva","trail_workstation":null,"trail_notes":"Altade registro","trail_timemark":"2023-08-03T10:49:39.119228-06:00"}]')
SET IDENTITY_INSERT [Vehiculos].[Documentos] OFF
GO
ALTER TABLE [Vehiculos].[Documentos]  WITH CHECK ADD  CONSTRAINT [FK_Documentos_Vehiculos] FOREIGN KEY([VehiculoId])
REFERENCES [Vehiculos].[Vehiculos] ([Id])
GO
ALTER TABLE [Vehiculos].[Documentos] CHECK CONSTRAINT [FK_Documentos_Vehiculos]
GO
