USE [SGD_V1]
GO
/****** Object:  Table [Vehiculos].[GruposDetalles]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Vehiculos].[GruposDetalles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[GrupoId] [bigint] NOT NULL,
	[VehiculoId] [bigint] NOT NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_GruposDetalles] PRIMARY KEY CLUSTERED 
(
	[GrupoId] ASC,
	[VehiculoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Vehiculos].[GruposDetalles] ON 

INSERT [Vehiculos].[GruposDetalles] ([Id], [GrupoId], [VehiculoId], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (19, 1, 5, N'usrPhoenixAdmin', 1, CAST(N'2023-07-14T18:32:33.477' AS DateTime), N'[{"trail_system_user":"roter","trail_workstation":"PHOENIX-A","trail_notes":"Alta de registro","trail_timemark":"2023-07-19T14:44:20.7067429-06:00"},{"trail_system_user":"pep.desarrollo","trail_workstation":"LAPTOP-KMD9MDO4","trail_notes":"Actualización de registro","trail_timemark":"2023-08-18T14:23:29.9239197-06:00"}]')
GO
SET IDENTITY_INSERT [Vehiculos].[GruposDetalles] OFF
GO
ALTER TABLE [Vehiculos].[GruposDetalles]  WITH CHECK ADD  CONSTRAINT [FK_GruposDetalles_Grupos] FOREIGN KEY([GrupoId])
REFERENCES [Vehiculos].[Grupos] ([Id])
GO
ALTER TABLE [Vehiculos].[GruposDetalles] CHECK CONSTRAINT [FK_GruposDetalles_Grupos]
GO
ALTER TABLE [Vehiculos].[GruposDetalles]  WITH CHECK ADD  CONSTRAINT [FK_GruposDetalles_Vehiculos] FOREIGN KEY([VehiculoId])
REFERENCES [Vehiculos].[Vehiculos] ([Id])
GO
ALTER TABLE [Vehiculos].[GruposDetalles] CHECK CONSTRAINT [FK_GruposDetalles_Vehiculos]
GO
