USE [SGD_V1]
GO
/****** Object:  Table [Vehiculos].[Esquemas]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Vehiculos].[Esquemas](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_Esquemas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Vehiculos].[Esquemas] ON 

INSERT [Vehiculos].[Esquemas] ([Id], [Nombre], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (2, N'Esquena 1', N'usrPhoenixAdmin', 1, CAST(N'2023-06-01T00:00:00.000' AS DateTime), N'[{"trail_system_user":"Valen","trail_workstation":"VALENTIN","trail_notes":"Altade registro","trail_timemark":"2023-08-03T17:44:55.7885718-06:00"},{"trail_system_user":"Valen","trail_workstation":"VALENTIN","trail_notes":" Actualizaciónde registro","trail_timemark":"2023-08-11T10:11:07.8453309-06:00"}]')
INSERT [Vehiculos].[Esquemas] ([Id], [Nombre], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (3, N'prueba3 ', N'usrPhoenixAdmin', 0, CAST(N'2023-06-01T00:00:00.000' AS DateTime), N'[{"trail_system_user":"Valen","trail_workstation":"VALENTIN","trail_notes":"Altade registro","trail_timemark":"2023-08-03T17:44:55.7885718-06:00"},{"trail_system_user":null,"trail_workstation":null,"trail_notes":"Registro Eliminado","trail_timemark":"0001-01-01T00:00:00"}]')
SET IDENTITY_INSERT [Vehiculos].[Esquemas] OFF
GO
