USE [SGD_V1]
GO
/****** Object:  Table [GestorDocumentos].[ExpedienteDocumentos]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [GestorDocumentos].[ExpedienteDocumentos](
	[Id] [bigint] NOT NULL,
	[ExpedienteId] [bigint] NULL,
	[Expediente] [varchar](150) NULL,
	[TipoDocumentoId] [bigint] NULL,
	[TipoDocumento] [varchar](150) NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_ExpedienteDocumentos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [GestorDocumentos].[ExpedienteDocumentos] ([Id], [ExpedienteId], [Expediente], [TipoDocumentoId], [TipoDocumento], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (14, 15, NULL, 4, NULL, NULL, 1, CAST(N'2023-08-02T11:00:19.097' AS DateTime), N'[{"trail_system_user":"Lguzman","trail_workstation":"DESKTOP-G18S1J2","trail_notes":"Alta de Registro","trail_timemark":"2023-03-07T09:42:46.2257062-06:00"}]')
INSERT [GestorDocumentos].[ExpedienteDocumentos] ([Id], [ExpedienteId], [Expediente], [TipoDocumentoId], [TipoDocumento], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (15, 15, NULL, 5, NULL, NULL, 1, CAST(N'2023-08-02T11:00:19.097' AS DateTime), N'[{"trail_system_user":"Lguzman","trail_workstation":"DESKTOP-G18S1J2","trail_notes":"Alta de Registro","trail_timemark":"2023-03-07T09:42:46.2257062-06:00"},{"trail_system_user":"Lguzman","trail_workstation":"DESKTOP-G18S1J2","trail_notes":"Alta de Registro","trail_timemark":"2023-03-07T09:42:46.2257062-06:00"}]')
GO
ALTER TABLE [GestorDocumentos].[ExpedienteDocumentos]  WITH CHECK ADD  CONSTRAINT [fk_ExpedienteDocumentos_Expediente] FOREIGN KEY([ExpedienteId])
REFERENCES [GestorDocumentos].[Expedientes] ([Id])
GO
ALTER TABLE [GestorDocumentos].[ExpedienteDocumentos] CHECK CONSTRAINT [fk_ExpedienteDocumentos_Expediente]
GO
ALTER TABLE [GestorDocumentos].[ExpedienteDocumentos]  WITH CHECK ADD  CONSTRAINT [fk_ExpedienteDocumentos_TiposDocumentos] FOREIGN KEY([TipoDocumentoId])
REFERENCES [GestorDocumentos].[TiposDocumentos] ([Id])
GO
ALTER TABLE [GestorDocumentos].[ExpedienteDocumentos] CHECK CONSTRAINT [fk_ExpedienteDocumentos_TiposDocumentos]
GO
