USE [SGD_V1]
GO
/****** Object:  Table [GestorDocumentos].[TiposDocumentos]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [GestorDocumentos].[TiposDocumentos](
	[Id] [bigint] NOT NULL,
	[Nombre] [varchar](500) NULL,
	[Uso] [bigint] NULL,
	[TipoFormato] [varchar](150) NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_TiposDocumentos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [GestorDocumentos].[TiposDocumentos] ([Id], [Nombre], [Uso], [TipoFormato], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (1, N'Fotografía', NULL, N'PNG,JPG', N'usrPhoenixAdmin', 1, CAST(N'2023-07-25T10:53:13.103' AS DateTime), N'[{"trail_system_user":"Oscar","trail_workstation":"FHLLAP440","trail_notes":"Actualización de Registro","trail_timemark":"2022-09-09T11:31:18.509723-05:00"},{"trail_system_user":"Oscar","trail_workstation":"FHLLAP440","trail_notes":"Alta de Registro","trail_timemark":"2022-09-13T11:34:01.0187924-05:00"}]')
INSERT [GestorDocumentos].[TiposDocumentos] ([Id], [Nombre], [Uso], [TipoFormato], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (2, N'Pedimento', NULL, N'XML,PDF', N'usrPhoenixAdmin', 1, CAST(N'2023-07-25T10:53:13.673' AS DateTime), N'[{"trail_system_user":"Oscar","trail_workstation":"FHLLAP440","trail_notes":"Actualización de Registro","trail_timemark":"2022-09-13T14:34:57.0821742+00:00"},{"trail_system_user":"Sistemas02","trail_workstation":"DW1SDWK00004V","trail_notes":"Actualización de Registro","trail_timemark":"2023-03-13T23:58:30.9273363+00:00"}]')
INSERT [GestorDocumentos].[TiposDocumentos] ([Id], [Nombre], [Uso], [TipoFormato], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (3, N'Factura', NULL, N'XML,PDF', N'usrPhoenixAdmin', 1, CAST(N'2023-07-25T10:53:14.340' AS DateTime), N'[{"trail_system_user":"Oscar","trail_workstation":"FHLLAP440","trail_notes":"Actualización de Registro","trail_timemark":"2022-09-13T14:34:57.0821742+00:00"},{"trail_system_user":"Sistemas02","trail_workstation":"DW1SDWK00004V","trail_notes":"Actualización de Registro","trail_timemark":"2023-03-13T23:58:30.9273363+00:00"}]')
GO
