USE [SGD_V1]
GO
/****** Object:  Table [Despachos].[SegurosDespachos]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Despachos].[SegurosDespachos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DespachoId] [bigint] NOT NULL,
	[Folio] [bigint] NOT NULL,
	[ClienteId] [bigint] NULL,
	[NumeroControl] [int] NULL,
	[DescripcionMercancia] [varchar](max) NULL,
	[Cantidad] [int] NULL,
	[ValorMercancia] [numeric](18, 2) NULL,
	[SumaAsegurada] [numeric](18, 2) NULL,
	[TarifaPoliza] [numeric](18, 2) NULL,
	[DerechoPoliza] [numeric](18, 2) NULL,
	[TotalCobrar] [numeric](18, 2) NULL,
	[Origen] [varchar](500) NULL,
	[DestinoId] [bigint] NULL,
	[MedioTransporteId] [bigint] NULL,
	[MedidasSeguridad] [varchar](500) NULL,
	[FechaSalida] [datetime] NULL,
	[FechaLLegada] [datetime] NULL,
	[Contenido] [varchar](5000) NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_tSeguroDespacho] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[DespachoId] ASC,
	[Folio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Despachos].[SegurosDespachos] ON 

SET IDENTITY_INSERT [Despachos].[SegurosDespachos] OFF
GO
ALTER TABLE [Despachos].[SegurosDespachos]  WITH CHECK ADD  CONSTRAINT [FK_SegurosDespachos_Despachos] FOREIGN KEY([DespachoId])
REFERENCES [Despachos].[Despachos] ([Id])
GO
ALTER TABLE [Despachos].[SegurosDespachos] CHECK CONSTRAINT [FK_SegurosDespachos_Despachos]
GO
