USE [SGD_V1]
GO
/****** Object:  Table [Despachos].[Sellos]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Despachos].[Sellos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DespachoId] [bigint] NOT NULL,
	[Sello] [varchar](50) NOT NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_Sellos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[DespachoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Despachos].[Sellos] ON 

INSERT [Despachos].[Sellos] ([Id], [DespachoId], [Sello], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (1, 1, N'sello454', NULL, 1, CAST(N'2023-10-26T18:29:22.000' AS DateTime), N'[{"trail_system_user":"Valen","trail_workstation":"VALENTIN","trail_notes":"Alta de registro","trail_timemark":"2023-10-27T12:54:00.2596292-06:00"}]')
INSERT [Despachos].[Sellos] ([Id], [DespachoId], [Sello], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (2, 1, N'sello456456Actualizar', NULL, 1, CAST(N'2023-10-26T18:29:22.000' AS DateTime), N'[{"trail_system_user":"Valen","trail_workstation":"VALENTIN","trail_notes":"Alta de registro","trail_timemark":"2023-10-27T12:54:00.2596292-06:00"}]')
INSERT [Despachos].[Sellos] ([Id], [DespachoId], [Sello], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (3, 1, N'sello09374', NULL, 1, CAST(N'2023-10-27T11:51:24.727' AS DateTime), N'[{"trail_system_user":"Valen","trail_workstation":"VALENTIN","trail_notes":"Alta de registro","trail_timemark":"2023-10-27T12:54:00.2596292-06:00"}]')
SET IDENTITY_INSERT [Despachos].[Sellos] OFF
GO
ALTER TABLE [Despachos].[Sellos]  WITH CHECK ADD  CONSTRAINT [FK_Sellos_Despachos] FOREIGN KEY([DespachoId])
REFERENCES [Despachos].[Despachos] ([Id])
GO
ALTER TABLE [Despachos].[Sellos] CHECK CONSTRAINT [FK_Sellos_Despachos]
GO
