USE [SGD_V1]
GO
/****** Object:  Table [Productos].[Productos]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Productos].[Productos](
	[Id] [bigint] NOT NULL,
	[ClaveInterna] [varchar](50) NULL,
	[ClaveProductoSAT] [varchar](50) NULL,
	[ClaveUnidadSAT] [varchar](50) NULL,
	[UnidadMedidaId] [bigint] NULL,
	[Nombre] [varchar](250) NULL,
	[MaterialPeligroso] [bit] NULL,
	[PeligrosoId] [bigint] NULL,
	[UNId] [bigint] NULL,
	[PesoUnitario] [numeric](18, 2) NULL,
	[EmbalajeId] [bigint] NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Productos].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Embalajes] FOREIGN KEY([EmbalajeId])
REFERENCES [Productos].[Embalajes] ([Id])
GO
ALTER TABLE [Productos].[Productos] CHECK CONSTRAINT [FK_Productos_Embalajes]
GO
ALTER TABLE [Productos].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Peligrosos] FOREIGN KEY([PeligrosoId])
REFERENCES [Productos].[Peligrosos] ([Id])
GO
ALTER TABLE [Productos].[Productos] CHECK CONSTRAINT [FK_Productos_Peligrosos]
GO
ALTER TABLE [Productos].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_UN] FOREIGN KEY([UNId])
REFERENCES [Productos].[UN] ([Id])
GO
ALTER TABLE [Productos].[Productos] CHECK CONSTRAINT [FK_Productos_UN]
GO
ALTER TABLE [Productos].[Productos]  WITH NOCHECK ADD  CONSTRAINT [FK_Productos_UnidadesMedidas] FOREIGN KEY([UnidadMedidaId])
REFERENCES [Productos].[UnidadesMedidas] ([Id])
GO
ALTER TABLE [Productos].[Productos] NOCHECK CONSTRAINT [FK_Productos_UnidadesMedidas]
GO
