USE [SGD_V1]
GO
/****** Object:  Table [Productos].[Peligrosos]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Productos].[Peligrosos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ClavePeligroso] [varchar](50) NULL,
	[Nombre] [varchar](150) NULL,
	[ClavePeligrosoSAT] [varchar](50) NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_Peligrosos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Productos].[Peligrosos] ON 

INSERT [Productos].[Peligrosos] ([Id], [ClavePeligroso], [Nombre], [ClavePeligrosoSAT], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (1, N'1001', N'ACETILENO DISUELTO', N'1001', N'Desarrollo', 1, CAST(N'2023-07-17T17:00:49.397' AS DateTime), N'[{"trail_system_user":"valentinbaltazar","trail_workstation":null,"trail_notes":"Alta de Registro","trail_timemark":"2023-07-14T14:36:11.481678-06:00"}]')
INSERT [Productos].[Peligrosos] ([Id], [ClavePeligroso], [Nombre], [ClavePeligrosoSAT], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (2, N'1002', N'AIRE COMPRIMIDO', N'1002', N'Desarrollo', 1, CAST(N'2023-07-17T17:00:49.397' AS DateTime), N'[{"trail_system_user":"valentinbaltazar","trail_workstation":null,"trail_notes":"Alta de Registro","trail_timemark":"2023-07-14T14:36:11.481678-06:00"}]')
INSERT [Productos].[Peligrosos] ([Id], [ClavePeligroso], [Nombre], [ClavePeligrosoSAT], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (3, N'1003', N'AIRE LIQUIDO REFRIGERADO', N'1003', N'Desarrollo', 1, CAST(N'2023-07-17T17:00:49.397' AS DateTime), N'[{"trail_system_user":"valentinbaltazar","trail_workstation":null,"trail_notes":"Alta de Registro","trail_timemark":"2023-07-14T14:36:11.481678-06:00"}]')
GO
SET IDENTITY_INSERT [Productos].[Peligrosos] OFF
GO
