USE [SGD_V1]
GO
/****** Object:  Table [Operadores].[IncidenciasOperadores]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Operadores].[IncidenciasOperadores](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ColaboradoresId] [bigint] NOT NULL,
	[FechaIncidencia] [datetime] NULL,
	[Geolocalizacion] [varchar](100) NULL,
	[Velocidad] [numeric](18, 2) NULL,
	[VehiculosId] [bigint] NULL,
	[IncidenciasId] [bigint] NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_IncidenciasOperadores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[ColaboradoresId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Operadores].[IncidenciasOperadores] ON 

SET IDENTITY_INSERT [Operadores].[IncidenciasOperadores] OFF
GO
ALTER TABLE [Operadores].[IncidenciasOperadores]  WITH NOCHECK ADD  CONSTRAINT [FK_IncidenciasOperadores_Colaboradores] FOREIGN KEY([ColaboradoresId])
REFERENCES [Operadores].[Colaboradores] ([Id])
GO
ALTER TABLE [Operadores].[IncidenciasOperadores] NOCHECK CONSTRAINT [FK_IncidenciasOperadores_Colaboradores]
GO
ALTER TABLE [Operadores].[IncidenciasOperadores]  WITH NOCHECK ADD  CONSTRAINT [FK_IncidenciasOperadores_Incidencias] FOREIGN KEY([IncidenciasId])
REFERENCES [Operadores].[Incidencias] ([Id])
GO
ALTER TABLE [Operadores].[IncidenciasOperadores] NOCHECK CONSTRAINT [FK_IncidenciasOperadores_Incidencias]
GO
