USE [SGD_V1]
GO
/****** Object:  Table [Operadores].[BitacorasManejos]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Operadores].[BitacorasManejos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ColaboradoresId] [bigint] NOT NULL,
	[FechaInicio] [datetime] NULL,
	[FechaFin] [datetime] NULL,
	[Manifiesto] [varchar](20) NULL,
	[KmCargado] [numeric](18, 2) NULL,
	[KmVacio] [numeric](18, 2) NULL,
	[Rendimiento] [numeric](18, 2) NULL,
	[VehiculosId] [bigint] NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_BitacorasManejos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[ColaboradoresId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Operadores].[BitacorasManejos] ON 

SET IDENTITY_INSERT [Operadores].[BitacorasManejos] OFF
GO
ALTER TABLE [Operadores].[BitacorasManejos]  WITH NOCHECK ADD  CONSTRAINT [FK_BitacorasManejos_Colaboradores] FOREIGN KEY([ColaboradoresId])
REFERENCES [Operadores].[Colaboradores] ([Id])
GO
ALTER TABLE [Operadores].[BitacorasManejos] NOCHECK CONSTRAINT [FK_BitacorasManejos_Colaboradores]
GO
