USE [SGD_V1]
GO
/****** Object:  Table [Operadores].[Incidencias]    Script Date: 11/03/2024 02:10:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Operadores].[Incidencias](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](250) NULL,
	[Puntos] [int] NULL,
	[Usuario] [varchar](150) NULL,
	[Eliminado] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Trail] [varchar](max) NULL,
 CONSTRAINT [PK_Incidencias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [Operadores].[Incidencias] ON 

INSERT [Operadores].[Incidencias] ([Id], [Nombre], [Puntos], [Usuario], [Eliminado], [FechaCreacion], [Trail]) VALUES (1, N'Aceleración2CV', 15, N'usrphoenixadmin', 1, CAST(N'2023-05-13T00:00:00.000' AS DateTime), N'[{"trail_system_user":"angel","trail_workstation":"PHOENIX","trail_notes":"Alta de Registro","trail_timemark":"2024-01-17T13:40:29.7899139-06:00"},{"trail_system_user":"NewLa","trail_workstation":"OMAR_PHOENIX","trail_notes":"Actualización de Registro","trail_timemark":"2024-02-09T12:45:05.055053-06:00"}]')
SET IDENTITY_INSERT [Operadores].[Incidencias] OFF
GO
